@{
    ViewData["Title"] = "Admin Tools";
}

<h1>Arbitrary LDAP search</h1>

<div class="panel inline">
    @using (Html.BeginForm("SubmitArbitraryLdapSearch", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="form-table">
            <tr>
                <td><label for="BindDN">Bind DN</label></td>
                <td>
                    <select name="BindDN" id="BindDN">
                        <option value="cn=admin,dc=hush,dc=rip">cn=admin,dc=hush,dc=rip</option>
                        <option value="cn=config,dc=hush,dc=rip">cn=config,dc=hush,dc=rip</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="Password">Password</label></td>
                <td><input type="password" name="Password" id="Password"></td>
            </tr>
            <tr>
                <td><label for="SearchBase">Search Base</label></td>
                <td><input type="text" name="SearchBase" id="SearchBase" placeholder="dc=hush,dc=rip"></td>
            </tr>
            <tr>
                <td><label for="Filter">Filter</label></td>
                <td><input type="text" name="Filter" id="Filter" placeholder="(objectClass=inetOrgPerson)"></td>
            </tr>
            <tr>
                <td><label for="Scope">Scope</label></td>
                <td>
                    <select name="Scope" id="Scope">
                        <option value="base">Base</option>
                        <option value="one">One</option>
                        <option value="sub">Sub</option>
                        <option value="children">Children</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    }
</div>