@{
    ViewData["Title"] = "Admin Tools";
}

<h1>Decode permission block</h1>

<div class="panel inline">
    @using (Html.BeginForm("SubmitDecodePermissionBlock", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="form-table">
            <tr>
                <td><label for="message">Message</label></td>
                <td><textarea name="message" id="message" cols="60" rows="12"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" aria-label="submit"></td>
            </tr>
        </table>
    }
</div>