@{
    ViewData["Title"] = "Admin Tools";
}

<h1>Delete account</h1>

<div class="panel inline">
    @using (Html.BeginForm("SubmitDeleteAccount", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="form-table">
            <tr>
                <td><label for="PermissionBlock">Permission Block</label></td>
                <td><textarea type="text" name="PermissionBlock" id="PermissionBlock" cols="60" rows="12"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" aria-label="Submit"></td>
            </tr>
        </table>
    }
</div>