@using HushWeb.Services.CryptoPermissions;

@{
    ViewData["Title"] = "Admin Tools";

    string EncodePermissionBlockLink(string permissionType) =>
        $"Admin/EncodePermissionBlock/{permissionType}";
}

<h1>Admin Tools</h1>

<ul>
    <li><a asp-action="ViewApplication">View Applications</a></li>
    <li><a asp-action="DeleteAccount">Delete account</a></li>
    <li><a asp-action="ArbitraryLdapSearch">Arbitrary LDAP search</a></li>
    <li><a asp-action="DecodePermissionBlock">Decode permission block</a></li>
    <li>
        Encode permission block
        <ul>
            @foreach (var permissionType in PermissionType.AllTypes)
            {
                <li><a href="@EncodePermissionBlockLink(permissionType)">@permissionType</a></li>
            }
        </ul>
    </li>
</ul>