.applicant {
    font-family: monospace;
    color: gray;
}

.permission-block {
    height: 450px;
    overflow-y: scroll;
    font-family: monospace;
}

.approve {
    color: green;
    font-weight: bold;
}

.reject {
    color: red;
    font-weight: bold;
    float: left !important;
}