@{
    ViewData["Title"] = "Admin Tools";
}

<partial name="_Notice" />

<h1>View applications</h1>

<section>
    <h2 class="section-title">Application selector</h2>

    <div class="panel inline">
        @using (Html.BeginForm("ViewApplication", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <table class="form-table">
                <tr>
                    <td><label for="UniqueId">Unique Id</label></td>
                    <td>
                        <select name="UniqueId" id="UniqueId">
                            @if (ViewBag.uniqueId != null)
                            {
                                <option value="@ViewBag.uniqueId">@ViewBag.uniqueId</option>
                            }

                            @foreach (var applicantUniqueId in ViewBag.applicantUniqueIds)
                            {
                                @if (ViewBag.uniqueId == null || applicantUniqueId != ViewBag.uniqueId)
                                {
                                    <option value="@applicantUniqueId">@applicantUniqueId</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="View" aria-label="View">
                    </td>
                </tr>
            </table>
        }
    </div>
</section>

@if (ViewBag.uniqueId != null)
{
    <section>
        <h2 class="section-title">
            Selected application: 
            <span class="applicant">@ViewBag.uniqueId</span>
        </h2>

        <div class="panel">
            @using (Html.BeginForm("SubmitApplication", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <table class="form-table">
                    <tr>
                        <td><label>Application</label></td>
                        <td>
                            <textarea cols="60" rows="19">@ViewBag.permissionBlock</textarea>
                            <p class="sublabel">
                                Application is read-only.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="PermissionBlock">Signed message</label></td>
                        <td>
                            <textarea
                                name="PermissionBlock"
                                id="PermissionBlock"
                                cols="60"
                                rows="12"></textarea>
                            <p class="sublabel">
                                The signed message must be unarmored.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="reject" type="submit" name="Action" value="Reject" aria-label="Reject">
                            <input class="approve" type="submit" name="Action" value="Approve" aria-label="Approve">
                        </td>
                    </tr>
                </table>
            }
        </div>
    </section>
}