.container {
    position: relative;
    margin-top: 40px;
}

.inner {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

label {
    font-weight: bold;
}

td {
    border: none;
}