<div class="container">
    <div class="inner panel">
        <form autocomplete="off" asp-controller="Account" asp-action="Auth">
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td><label for="uniqueid">Unique ID</label></td>
                    <td><input type="text" name="uniqueid" id="uniqueid" autocomplete="false" autofocus></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" name="password" id="password" autocomplete="false"></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>