@model PublicUserDetails

@{
    #pragma warning disable

    const string AT_URL = "/img/at-symbol.png";
    const string AT_STYLE = "vertical-align: middle";
    const string NONE_STYLE = "color: #b50000";

    bool emailExists =
        Model.Email != null
        && Model.Email.Count != 0
        && Model.Email[0].Contains('@');

    string email = emailExists ? Model.Email[0] : string.Empty;
    string[] parts = email.Split('@');
}

@if (emailExists)
{
    @parts[0]<img src="@AT_URL" alt="@('@')" style="@AT_STYLE">@parts[1]
}
else
{
    <span style="@NONE_STYLE">@("<none>")</span>
}
