@{
    // TODO: Uncomment Account link
    var links = new (string, string)[] { 
        ("Home", "/"),
        ("Docs", "/Docs"),
        ("Users", "/Users"),
        //("Account", "/Account"),
        ("Apply", "/Apply"),
    };

    string currentUrl = ViewContext.HttpContext.Request.Path;
    string currentPage = "Home";

    Func<(string, string), string> getLinkClass =
        (link) => link.Item1 == currentPage ? "current-page" : "";

    @* MAIN LOGIC *@

    foreach (var link in links)
    {
        if (currentUrl.StartsWith(link.Item2))
            currentPage = link.Item1;
    }
}

<nav>
    @foreach (var link in links)
    {
        <a class="@getLinkClass(link)" href="@link.Item2">@link.Item1</a>
    }
</nav>