nav {
    margin-bottom: 40px;
    font-size: 0;
}

a {
    display: inline-block;
    padding: 0 12px;
    margin-right: 16px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #a1a1a1;
    font-size: 1rem;
}

a.current-page {
    background-color: #1d1d1d;
    border-color: #1d1d1d;
    color: #f7f7f7;
}

@media (max-width: 800px) {
    a {
        display: inline;
        padding: 4px;
        line-height: initial;
        height: initial;
        margin-right: 12px;
    }
}