div[role=note] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px dashed black;
    font-weight: bold;
    white-space: pre-line;
}

div[role=note].info {
    color: #005469;
    border-color: #005469;
    background-color: #cae3ff;
}

div[role=note].error {
    color: #690000;
    border-color: #690000;
    background-color: #ffcaca;
}