@model EditAccountForm

@{
    ViewData["Title"] = "Edit account";

    var revokeLinkStyle = "color: #bb0000; margin-right: 12px;";
    var revokeParams = new Dictionary<string, string>
        {
            { "uniqueId", Model.UniqueId },
            { "token", Model.Token }
        };

    var publicKeyPlaceholder =
@"-----BEGIN PGP PUBLIC KEY BLOCK-----
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
0000000000000000000000000000000000000000000000000000000000000000
=PLACEHOLDER
-----END PGP PUBLIC KEY BLOCK-----";
}

<h1>Edit account</h1>
<p></p>

<div class="container panel">
    @using (Html.BeginForm("Save", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td><label for="UniqueId">Unique ID</label></td>
                <td>@Model.UniqueId</td>
                <input type="hidden" id="UniqueId" name="UniqueId" value="@Model.UniqueId">
            </tr>
            <tr>
                <td><label for="Token">Token</label></td>
                <td>@Model.Token</td>
                <input type="hidden" id="Token" name="Token" value="@Model.Token">
            </tr>
            @* <tr>
                <td><label for="Email">Public Email</label></td>
                <td><input type="text" name="Email" id="Email" placeholder="uniqueid@tuta.io"></td>
            </tr> *@
            <tr>
                <td><label for="PublicKey">Public Key</label></td>
                <td><textarea name="PublicKey" id="PublicKey" cols="64" rows="11" placeholder="@publicKeyPlaceholder">@Model.PublicKey</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td style="float: right">
                    @Html.ActionLink("Cancel edits & revoke token", "Revoke", revokeParams, new { style = revokeLinkStyle })
                    <input type="submit" value="Submit" aria-label="Submit">
                </td>
            </tr>
        </table>
    }
</div>