@{
    ViewData["Title"] = "Account";
}

<partial name="_Notice" />

<h1>Your account</h1>
<p>
    Use the following form to get one-time access to modify your account details. Expires after 15 minutes.
</p>

<partial name="_AuthForm" />