@using HushWeb.Services.CryptoPermissions;

@{
    ViewData["Title"] = "Admin Tools";
}

<h1>Create CreateAccount permission block</h1>

<div class="panel inline">
    @using (Html.BeginForm("EncodePermissionBlock_CreateAccount", "Admin"))
    {
        @Html.AntiForgeryToken()
        <table class="form-table">
            <tr>
                <td><label for="UniqueId">Unique ID</label></td>
                <td><input type="text" name="UniqueId" id="UniqueId"></td>
            </tr>
            <tr>
                <td><label for="Email">Public Email</label></td>
                <td><input type="text" name="Email" id="Email"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" aria-label="Submit"></td>
            </tr>
        </table>
    }
</div>
