﻿@{
    ViewData["Title"] = "Home";
}

<div class="split">
    <div class="split-image">
        <img src="~/img/hush.png" alt="Gravestone" width="175" height="175" >
    </div>
    <div>
        <h1>Welcome to hush.rip</h1>
        <p>
            A platform to communicate and share your thoughts, with a strong emphasis on privacy. hush.rip is provided free of charge, and is comprised of open-source software.
        </p>
    </div>
</div>


<section>
    <h2 id="contents" class="section-title">Table of contents</h2>

    <ul>
        <li>
            <a href="#services">Services</a>
            <ul>
                <li><a href="#ldap">LDAP Authentication</a></li>
                <li><a href="#xmpp">XMPP Instant Messaging</a></li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2 id="services" class="section-title">Services</h2>

    <h3 id="ldap" class="subsection-title">LDAP Authentication</h3>
    <section class="subsection">
        <p>From <a href="https://ldap.com" class="external">LDAP.com homepage</a></p>
        <blockquote>
            LDAP, the Lightweight Directory Access Protocol, is a mature, flexible, and well supported standards-based mechanism for interacting with directory servers. [It is] often used for authentication and storing information about users, groups, and applications, but an LDAP directory server is a fairly general-purpose data store and can be used in a wide variety of applications.
        </blockquote>
        <p>
            We use <a href="https://openldap.org" class="external">OpenLDAP</a> to provide universal authentication for the whole platform. One username and password for all services.
        </p>
    </section>

    <h3 id="xmpp" class="subsection-title">XMPP Instant Messaging</h3>
    <section class="subsection">
        <p>From <a href="https://xmpp.org/about/technology-overview" class="external">An Overview of XMPP</a></p>
        <blockquote>
            XMPP is the Extensible Messaging and Presence Protocol, a set of open technologies for instant messaging, presence, multi-party chat, voice and video calls, collaboration, lightweight middleware, content syndication, and generalized routing of XML data.
        </blockquote>
        <p>
            We use <a href="hhttps://www.igniterealtime.org/projects/openfire/" class="external">Openfire</a> to provide a secure and private channel for real-time communication.
        </p>
    </section>
    
    <p style="font-style: italic">More services coming soon...</p>
</section>