.split {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.split-image {
    margin-right: 24px;
    border: 1px solid #1d1d1d;
    font-size: 0;
    height: 175px;
}

.split h1 {
    margin-top: 0;
}

.split p {
    margin-bottom: 0;
}