td:first-of-type {
    width: 150px;
}

.important {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
    font-weight: 900; /* This means I'm serious */
}

.challenge {
    margin: 0;
    padding: 8px 0;
    font-size: 1.25em;
    font-family: monospace;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid #858585;
    word-spacing: 0.275em;
}

.agreement {
    margin-top: 0;
    padding: 8px 36px 0 0;
    border-top: 1px dotted #8f8f8f;
    font-size: 0.9em;
    list-style: upper-roman;
    list-style-position: inside;
}

li + li {
    margin-top: 8px;
}

li::marker {
    font-weight: bold;
}

.controls {
    float: right;
}


input[type=checkbox] {
    position: relative;
    top: 1px;
}

input[type=submit] {
    margin-left: 24px;
}