@{
    ViewData["Title"] = "Apply";
}

<h1>Apply for access</h1>

<p class="important">Please read the entirety of this document before you apply.</p>
<p>
    To protect your identity on the platform from being correlated to your identity outside it, all information you submit in your application must be newly created. This includes a completely new email account specifically dedicated to this platform. Knowledge of how to use PGP is also required. Ensure that an administrator is expecting your application or it is likely to be rejected.
</p>

<section>
    <h2 id="application" class="section-title">Application</h2>

    <p>
        All information submitted in this form is permanent once the application is approved. If you need to change something, you'll have to rescind your application before it's accepted. Otherwise, you can delete your account and submit another application under a different unique ID.
    </p>
    <h3 id="password-notice">Password notice</h3>
    <p>
        Be aware that LDAP passwords are stored in plaintext by design. This is necessary to ensure interoperability with other services that use LDAP for authentication. Make sure you generate a new password and store it in your password manager of choice.
    </p>
</section>

<partial name="_Notice" />

<div id="application-form" class="panel">
    @using (Html.BeginForm("Submit", "Apply", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="form-table">
            <tr>
                <td><label for="Email">Email address</label></td>
                <td>
                    <input type="text" name="Email" id="Email">
                    <p class="sublabel">
                        Create a new email account. Do not reuse a previously used email account.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="UniqueId">Unique ID</label></td>
                <td>
                    <input type="text" name="UniqueId" id="UniqueId">
                    <p class="sublabel">
                        Include only letters, numbers, underscores, and hyphens.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="Password">New password</label></td>
                <td>
                    <input type="password" name="Password" id="Password">
                    <p class="sublabel">
                        Must be between 8 and 128 characters.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="ConfirmPassword">Confirm password</label></td>
                <td>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword">
                    <p class="sublabel">
                        Passwords must match.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="PublicKey">Public key</label></td>
                <td>
                    <textarea
                        name="PublicKey"
                        id="PublicKey"
                        cols="60"
                        rows="12"
                        placeholder="@Placeholder.PublicKey"></textarea>
                    <p class="sublabel">
                        Generate a new PGP key pair. Do not reuse a previously used key.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="Challenge">Challenge</label></td>
                <td>
                    <p class="challenge">@ViewBag.Challenge</p>
                    <p class="sublabel">
                        Sign this string using your PGP key to prove ownership of the key pair.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="SignedMessage">Signed message</label></td>
                <td>
                    <textarea
                        name="SignedMessage"
                        id="SignedMessage"
                        cols="60"
                        rows="12"
                        placeholder="@Placeholder.SignedChallenge"></textarea>
                    <p class="sublabel">
                        The signed message must be unarmored.
                    </p>
                </td>
            </tr>
            <tr>
                <td><label for="Agreement">Agreement</label></td>
                <td>
                    <ol class="agreement">
                        <li>
                            I certify that all information provided is newly created, and has not been used for any other purpose.
                        </li>
                        <li>
                            I promise to maintain the confidentiality of all information on this platform, including the identities of its users.
                        </li>
                        <li>
                            I promise not to use this platform for illegal or malicious purposes.
                        </li>
                        <li>
                            I promise to treat other users how I'd like to be treated.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="controls">
                        <input type="checkbox" name="Agreement" id="Agreement" value="I agree">
                        <span>I accept the agreement.</span>
                        <input type="submit" value="Submit application" aria-label="Submit application">
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
