@import url('https://unpkg.com/normalize.css/normalize.css');

html {
  font-size: 15px;
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #1d1d1d;
}

body {
  margin: 32px 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  box-sizing: border-box;
}

h1 {
  border-bottom: 1px solid #8b8b8b;
}

a {
  color: #0077bb;
  text-decoration: none;
}

a:hover {
  color: grey !important;
  text-decoration: underline;
}

a:active {
  color: #a300ee !important;
  text-decoration: underline;
}

a.external {
  font-weight: bold;
}

a.external::after {
  font-family: monospace;
  display: inline-block;
  content: "";
  margin-left: 3px;
  width: 12px;
  height: 16px;
  background-repeat: no-repeat;
  background-position-y: 4px;
  background-size: 13px;
  background-image: url(https://wiki.archlinux.org/resources/src/mediawiki.skinning/images/external-ltr.svg);
}

.section-title {
  margin-top: 32px;
  border-bottom: 1px solid #8b8b8b;
}

.subsection-title:not(:first-of-type) {
  margin-top: 32px;
}

.subsection {
  border-left: 1px dotted #8b8b8b;
  padding-left: 16px;
}

.panel {
  background-color: #e5e5e5;
  border: 1px solid #a1a1a1;
}

.panel.inline {
  display: inline-block;
}

blockquote {
  margin: 16px 0;
  padding: 12px;
  font-style: italic;
  background-color: #e5e5e5;
  border: 1px solid #a1a1a1;
}

blockquote > p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #e5e5e5;
  border: 1px solid #a1a1a1;
}

td, th {
  border: 1px solid #a1a1a1;
  text-align: left;
  padding: 8px;
}

form {
  padding: 24px 28px;
}

table.form-table td {
  border: none;
  vertical-align: top;
  padding: 8px 4px;
}

table.form-table label {
  display: block;
  padding-top: 2px;
  font-weight: bold;
  border-top: 1px dotted #8f8f8f;
}

table.form-table input[type=submit] {
  float: right;
}

table.form-table p.sublabel {
  font-size: 0.8em;
  margin-top: 3px;
  margin-bottom: 0;
}

table.form-table textarea {
  width: 100%;
  margin-bottom: -4px;
  font-size: 0.8em;
  font-family: monospace;
  box-sizing: border-box;
}

::placeholder {
  color: #ababab;
  font-style: italic;
}

pre, code {
  background-color: #e3e3e3;
  padding-left: 6px;
  padding-right: 6px;
}

pre {
  padding-top: 6px;
  padding-bottom: 6px;
}

pre > code {
  padding: 0;
}