@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table>
    <tr>
        <th>Unique ID</th>
        <th>Public Key ⭳</th>
        <th>Email Address</th>
        <th>Status</th>
    </tr>

    @foreach (var user in ViewBag.users)
    {
        <tr>
            <td>@user.UniqueId[0]</td>
            <td>@Html.ActionLink($"{user.UniqueId[0]}.pub", "PublicKey", new { id = user.UniqueId[0] })</td>
            <td>@(await Html.PartialAsync("_EmailAddress", (PublicUserDetails)user))</td>
            <td class="status accepted">Approved</td>
        </tr>
    }

    @foreach (var pendingUser in ViewBag.pendingUsers)
    {
        <tr>
            <td>@pendingUser</td>
            <td class="hidden">@("<hidden>")</td>
            <td class="hidden">@("<hidden>")</td>
            <td class="status pending">Pending</td>
        </tr>
    }
</table>
