/* TODO: Simplify */
.fs-panel {
    display: flex;
    flex-flow: column;
    border: 1px solid #a1a1a1;
}

.fs-panel + .fs-panel {
    margin-top: 12px;
}

.header {
    padding: 8px;
    background-color: #e5e5e5;
    font-weight: bold;
    font-family: monospace;
}

.path-part {
    color: #1d1d1d !important;
}

.entry {
    padding: 8px;
    color: #1d1d1d !important;
    border-top: 1px solid #a1a1a1;
    text-decoration: none;
}

.entry:hover {
    background-color: #d5f0ff;
    text-decoration: underline;
}

.selected-file {
    font-weight: bold;
}

.icon {
    display: inline-block;
    text-decoration: none !important;
    width: 20px;
    margin-right: 12px;
}

.file-content {
    overflow-x: auto;
    border-top: 1px solid #a1a1a1;
}

.file-content-inner {
    display: inline-block;
    padding: 16px 32px;
}

.file-content-inner.Image {
    padding: 32px;
    font-size: 0;
    text-align: center;
}

@media (max-width: 800px) {
    .file-content-inner {
        padding: 16px;
    }
}