@{
    ViewData["Title"] = "Documents";

    const string ICON_BACK = "↩";
    const string ICON_SELECTED = "👁️";

    string Icon(string type) => type switch
    {
        "Directory" => "📁",
        "Text" or "Markdown" => "📄",
        "Image" => "🖼️",
        "Unknown" => "❓",
        _ => "⚠️"
    };

    string Name(string path) =>
        System.IO.Path.GetFileName(path).Replace("..", ICON_BACK);

    bool IsSelected(string path) => Name(path) == ViewBag.fileName;

    string EntryClass(string path) => IsSelected(path) ? "selected-file" : "";
    
    string Href(string path) => $"/Docs{path}";
}

<div class="fs-panel">
    <span class="header">
        @for (int i = 0; i < ViewBag.pathParts.Count; i++)
        {
            <a href="@ViewBag.pathParts[i].Item2" class="path-part">@ViewBag.pathParts[i].Item1</a>

            @if (i < ViewBag.pathParts.Count - 1)
            {
                <span>@(" > ")</span>
            }
        }
    </span>

    @foreach (var entry in ViewBag.entries)
    {
        <a class="entry @EntryClass(entry.Item1)" href="@Href(entry.Item1)">
            <span class="icon">@Icon(entry.Item2)</span>@Name(entry.Item1)

            @if (IsSelected(entry.Item1))
            {
                <span style="float: right">@ICON_SELECTED</span>
            }
        </a>
    }
</div>

@if (ViewBag.fileName != null && ViewBag.fileContent != null)
{
    <div class="fs-panel">
        <span class="header">
            <span class="icon">@Icon(ViewBag.fileContentType)</span><span>@ViewBag.fileName</span>
            <a href="?raw=true" style="float: right">Raw</a>
        </span>
        <div class="file-content">
            <div class="file-content-inner @ViewBag.fileContentType">
                @Html.Raw(ViewBag.fileContent)
            </div>
        </div>
    </div>
}